{% extends "base.html.twig" %}

{% block title %}Kortlek!{% endblock %}

{% block body %}
    <div class="content">
        <h1>BlackJack</h1>
        <section class="blackjack-playground">
            <div class="dealer">
                <div class="cards-hand">
                    {% for card in dealerHand.getCards() %}
                        {% if card.isHidden() %}
                            <div class="card hidden-card" style="background-image: url({{asset('img/playing-cards/playing-card-back.svg')}});"></div>
                        {% else %}
                            <div class="card {{ card.getSymbol() }}">
                                <div class="card-left">
                                    <h2>{{ card.getName() }}</h2>
                                    <img src="{{ asset("img/playing-cards/" ~ card.getRepresentation()) }}">
                                </div>
                                <div class="card-middle">
                                    {% if card.getName() == "A" %}
                                        <h1>A</h1>
                                    {% elseif card.getName() == "J" %}
                                        <img src="{{ asset("img/playing-cards/jack.svg") }}" class="image">
                                    {% elseif card.getName() == "Q" %}
                                        <img src="{{ asset("img/playing-cards/queen.svg") }}" class="image">
                                    {% elseif card.getName() == "K" %}
                                        <img src="{{ asset("img/playing-cards/king.svg") }}" class="image">
                                    {% elseif card.getName() == "joker" %}
                                        <img src="{{ asset("img/playing-cards/joker.svg") }}" class="image">
                                    {% else %}
                                        {% for k in range(1, card.getName()) %}
                                            <img src="{{ asset("img/playing-cards/" ~ card.getRepresentation()) }}" class="symbol">
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="card-right">
                                    <img src="{{ asset("img/playing-cards/" ~ card.getRepresentation()) }}">
                                    <h2>{{ card.getName() }}</h2>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="info">
                    <div class="counter">{{ dealerHand.getPoints() }}</div>
                    <span>Dealer</span>
                </div>
            </div>
            <div class="buttons">
            {% if not winner %}
                <a href="{{path('cardGameHit')}}" class="btn"><i class="fa-regular fa-square-plus"></i> Hit</a>
                <a href="{{path('cardGameStand')}}" class="btn"><i class="fa-solid fa-hand"></i> Stand</a>
            {% else %}
                <div class="message {{ winner }}">
                    {% if winner == "player" %}
                        <h1>You Win</h1>
                    {% elseif winner == "dealer" %}
                        <h1>You Lost</h1>
                    {% elseif winner == "push" %}
                        <h1>PUSH!</h1>
                    {% endif %}
                    <a href="{{path('cardGameReset')}}" class="btn"><i class="fa-solid fa-refresh"></i> New Game</a>
                </div>
            {% endif %}
            </div>
            <div class="player">
                <div class="cards-hand">
                    {% for card in playerHand.getCards() %}
                        {% if card.isHidden() %}
                            <div class="card hidden-card"></div>
                        {% else %}
                            <div class="card {{ card.getSymbol() }}">
                                <div class="card-left">
                                    <h2>{{ card.getName() }}</h2>
                                    <img src="{{ asset("img/playing-cards/" ~ card.getRepresentation()) }}">
                                </div>
                                <div class="card-middle">
                                    {% if card.getName() == "A" %}
                                        <h1>A</h1>
                                    {% elseif card.getName() == "J" %}
                                        <img src="{{ asset("img/playing-cards/jack.svg") }}" class="image">
                                    {% elseif card.getName() == "Q" %}
                                        <img src="{{ asset("img/playing-cards/queen.svg") }}" class="image">
                                    {% elseif card.getName() == "K" %}
                                        <img src="{{ asset("img/playing-cards/king.svg") }}" class="image">
                                    {% elseif card.getName() == "joker" %}
                                        <img src="{{ asset("img/playing-cards/joker.svg") }}" class="image">
                                    {% else %}
                                        {% for k in range(1, card.getName()) %}
                                            <img src="{{ asset("img/playing-cards/" ~ card.getRepresentation()) }}" class="symbol">
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="card-right">
                                    <img src="{{ asset("img/playing-cards/" ~ card.getRepresentation()) }}">
                                    <h2>{{ card.getName() }}</h2>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="info">
                    <div class="counter">{{ playerHand.getPoints() }}</div>
                    <span>Player</span>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
