{% extends 'base.html.twig' %}

{% block title %}Hello LibraryBooksController!{% endblock %}

{% block body %}

<div class="content">
    <h1>Welcome to My Library</h1>

    <h2>Books:</h2>
    <ul class="book-list">
    {% for book in books %}
    <a href="library/book/id/{{book.id}}">
        <li>
            <h2>{{book.name}} by {{book.author}}</h2>
            <p>{{book.isbn}}</p>
        </li>
    </a>
    {% endfor %}
    </ul>

    <a class="btn" href="{{path('book_create')}}">Add A Book</a>
</div>
{% endblock %}
